<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each todos.todos as |todo|}}
     <tr>
        <td>{{todo.name}}</td>
        <td class="{{if todo.status 'text-success' 'text-primary'}}">{{translate-todo-status todo.status}}</td>
        <td>
          {{#if todo.status}}
            <button class="btn btn-xs btn-primary" {{action "updateStatus" todo 0}}>Processing</button>
          {{else}}
            <button class="btn btn-xs btn-success" {{action "updateStatus" todo 1}}>Done</button>
          {{/if}}
          <button class="btn btn-xs btn-warning" {{action "showConfirmModal" todo}}>Delete</button>
        </td>
     </tr>
    {{else}}
      <tr>
        <td colspan="3" align="center">--- Nothing ---</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{button-with-confirmation visiable=showConfirmModal text="Confirm to delete?" onConfirm=(action "remove" curTodo)}}
